{% extends "base_generic.html" %}
{% block content %}

<a href="{% url 'calculo' 1 %}"><button>1</button></a>
<a href="{% url 'calculo' 2 %}"><button>2</button></a>
<a href="{% url 'calculo' 3 %}"><button>3</button></a>
<a href="{% url 'calculo' 4 %}"><button>4</button></a>
<a href="{% url 'calculo' 5 %}"><button>5</button></a>
<a href="{% url 'calculo' 6 %}"><button>6</button></a>
<a href="{% url 'calculo' 7 %}"><button>7</button></a>
<a href="{% url 'calculo' 8 %}"><button>8</button></a>
<a href="{% url 'calculo' 9 %}"><button>9</button></a>
<a href="{% url 'operacion' 'CE' %}"><button>CE</button></a>

<a href="{% url 'operacion' 'suma' %}"><button>+</button></a>
<a href="{% url 'operacion' 'resta' %}"><button>-</button></a>
<a href="{% url 'operacion' 'multiplicacion' %}"><button>*</button></a>
<a href="{% url 'operacion' 'division' %}"><button>/</button></a>
<a href="{% url 'calculo' 'I' %}"><button>(</button></a>
<a href="{% url 'calculo' 'D' %}"><button>)</button></a>      

<div>{{ id }}</div>

{% endblock %}